.main-navbar{
    background-color: #DA5C5C;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    /*padding: 0.5rem calc((100vw - 1500px) / 2);*/
    padding: 0.30rem 3.0rem;
    display: flex;
  
}

.navbar-logo{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar-left{
  height: 2.6rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.navbar-middle{
  display: flex;
}

.navbar-rigth{
  
      margin-left: 0.8rem;
      display: flex;
      align-items: center;
      height: 3.2rem;
      position: relative;
}

.logo-text{
    font-weight: bold;
    font-size: 20px;
    font-size: 1.12rem;
  
    line-height: 33px;
    letter-spacing: -0.015em;

    color: #FFFFFF;

    margin-left: 15px;
}

.navbar-btn-empresa{
    background-color: var(--primary-color);
    border-radius: 10px;

    height: 62px;
    width: 9.375rem;

    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 1.12rem;
    
    letter-spacing: -0.015em;
    color: #FFF;

    cursor: pointer;
    transition: .2s ease-in;         
}

.navbar-btn-login {
  background-color: var(--primary-color);
  border-radius: 10px;

  height: 62px;
  width: 9.375rem;

  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 1.12rem;
  
  letter-spacing: -0.015em;
  color: #FFF;

  cursor: pointer;
  transition: .2s ease-in;  
    
    
  }
  .navbar-btn-login:hover {
    color: var(--primary-color);
    background-color: #FFF;
    transform: scale(1.01);
  }

  .navbar-btn-empresa:hover {
    color: var(--primary-color);
    background-color: #FFF;
    transform: scale(1.01);
  }

  .logo-text:hover {
    color: var(--light-color);
    transform: scale(1.01);
  }